.scrollRoot {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--color-dark-900);
}

.scrollViewport {
  width: 100%;
  height: 100%;
  padding-right: 14px;
}

.scrollScrollbar {
  user-select: none;
  touch-action: none;
  display: flex;
  background: transparent;
  transition: background 160ms ease-out;

  &[data-orientation='vertical'] {
    width: 14px;
    padding: 5px;
  }

  &[data-orientation='horizontal'] {
    flex-direction: column;
    height: 14px;
    padding: 5px;
  }

  &:hover {
    .scrollThumb {
      background: var(--color-light-900);
    }
  }
}

.scrollThumb {
  position: relative;
  flex: 1;
  border-radius: 3px;
  background: var(--color-dark-300);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: var(--color-light-900);
  }
}

.scrollCorner {
  background: var(--color-dark-100);
}

.scrollDivider {
  position: absolute;
  width: 1px;
  height: 100%;
  background: var(--color-dark-100);
}
