@use '../../styles/_colors.scss';
@use '../../styles/_typography.scss';

.wrapper {
  border-radius: 2px;
}
.label {
  color: var(--color-light-900);
  font-size: var(--font-size-14);
}
.controls {
  display: flex;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-500);
  color: var(--color-light-100);
  padding: 6px 12px;
  border: 1px solid var(--color-dark-300);
  cursor: pointer;
  &:hover {
    background-color: var(--color-dark-400);
  }
  &:focus {
    border: 1px solid var(--color-accent-700);
  }
}
.icon {
  color: var(--color-light-100);
}
.weekend {
  color: var(--color-danger-300);
}

.errorInput {
  border-color: var(--color-danger-500);
  color: var(--color-danger-500);
}

.errorText {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 12px;
  margin-top: 2px;
  color: var(--color-danger-500);
}






